/*:root {

}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	max-height: auto;
}

/**start of landpage*/
#landpage {
	display: flex;
	justify-content: center;
	z-index:-1;
}

#bglandpage {
	width: auto;
	max-height: 100vh;
}

#i_am {
	position: absolute;
	top: 25vh;
	left: 1vh;
	width: 400px;
}

#ellipsis {
	position: absolute;
	right: 20vh;
	bottom: 1vh;
}

#bookmark {
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #003B46;
	color: #C4DFE6;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	transform: rotate(-90deg);
	text-align: center;
}

#bookmark span {
	font-variant: small-caps;
}

.italic {
	font-style: italic;
}

#color_gif {
  	margin-left: auto;
 	margin-right: auto;
 	width: 40%;
 	height: 15%;
}

#bw_gif {
  	margin-left: auto;
 	margin-right: auto;
 	width: 40%;
 	height: 15%;
}

#target {
	margin: auto;
	width: 50%;
	height: 80%;
	position: fixed;
	top: 50%;
	left: 30%;
}

.firstrow .secondrow .thirdrow {
	width: 100%;
}

#about .columntop {
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 50%;

}

#about .columnbottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 25%;
	height: 50%;

}

#projects .columntop {
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: 50%;

}

#projects .columnbottom {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 50%;

}

#start_here {
	position: fixed;
	bottom: 20vh;
	left: 5vw;
	width: 150px;
	height: 50px;
	padding:0;
}

#start_img {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}

/*LOGO*/
#kglogo {
	display: fixed;
	top: 0;
	right: 0;
	width: 15vw;
	height: 15vh;
}

#logo_kg {
	display: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

/*START OF GALLERY*/

#navbar_gallery {
	height: 15vh;
	width: 100vw;
	color: #C4DFE6;
	display: relative;
}

#nb_g_logo {
	width: 10%;
}

#logo {
	display: inline-block;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

#nb_g_list {
	width: 100%;
	justify-content: center;
}

#nb_g_item {
	width: 20%;
}

#nb_g_signup {
	display: inline-block;
	width: 15%;
}

#nb_a {
	text-transform: uppercase;
	text-align: center;
}

/*START OF GALLERY HEADER*/
#this_is {
	position: relative;
	height: 85vh;
	width: 100vw;
}

#video_head {
	position: absolute;
	height: 80vh;
	width: 100vw;
}

#overlay_head {
	position: absolute;
	padding-top: 20vh;
}
#h_g_h1 {
	text-align: center;
	font-style: italic;
	font-weight: bolder;
	color: #c5d5cb;

}
#r2 {
	animation-delay: 2s;
}

#r3 {
	animation-delay: 4s;
}

#end_gallery {
	height: 15vh;
	background-color: grey;
	font-size: 1.2em;
	font-family: courier new;
	color: white;

}
/*PRINT SECTION*/

#print {
	max-width: 100vw;
	max-height: 100vh;
	width: 120vw;
	height: 100vh;
	background-color: lightgrey;
}

#print_mason {
	background-color: lightgrey;
	overflow: hidden;
}


#mason_cover {
	width:100%;
	height:100%;
}

#g_photo {
	width: 100vw;
	height: 100vh;
}

/*AUDIO GALLERY*/
#audio {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#audio_main_img {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 0
}

.audio_img {
	height: 50%;
}

.audio_btn {
	position: absolute;
	bottom: 25px;
}
/*START OF HOMEPAGE HTML*/
#leftbrain {
	max-width: 100vw;
	max-height: 100vh;
}

#matrix {
	width: 100%;
	height: 20vh;
	object-fit: cover;
}

#experiment {
	display: flex;
	max-width: 100vw;
	max-height: auto;
}

#comp_intro {
	border-bottom: 2px solid grey ;
}

#compwiki {
	width: 30vw;
	height: 80vh;
	background-color: white ;
	color: #6cb342;
	border-right: 2px solid lightgrey;
	margin: 10px 0;
	padding: 20px;
	text-align: center;
}

#compwiki li {
	color: #258038;
}

#comp_carousel {
	width: 60vw;
	height: 80vh;
	display: flex;
}

#comp_slides .card {
	border: none;
	border-bottom: gray 3px solid;
	background-color: green;
}

#comp_slides {
	color: white;
}

#comp_slides .card-title {
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	color: blue;
}

#comp_slides .card-subtitle {
	font-style: italic;
	color: yellow;
}

#comp_slides p {
	padding-top: 1.5em;
}
#math_list li {
	line-height: 1em;
	background-color: green;
}

/*NAVIGATION OF COMPUTATION*/
nav {
	max-width: 100vw;
	overflow: hidden;
	height: 20vh;	
	margin-bottom: 0;
}

#lnav {
	height: 20%;
	top:0;
	width:100%;
}

.dropbtn {
	margin-top: 30px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border: 0;
	padding: 16px;
	font-size: 2em;
	width: 22.25vw;	
}

#btn_comp {
	background-color: #6cb342;
	color: white;
}

#btn_chem {
	background-color: red;
	color: white;
	
}

#btn_neuro {
	background-color: #2b6989;
	color: white;
}

#btn_lang {
	background-color: #f1d21c;
	color: white;
	
}

.dropdown {
	position: relative;
	display: inline-block;
	background-color: white
}

.dropdown-item {
	display: none;
	position: absolute;
	/*background-color: white;*/
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
	text-align: center;
}

.dropdown-item a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-item a:hover {
	background-color:grey;
}

.dropdown:hover .dropdown-item {
	display:block;
	padding: 0;
	margin:0;
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropbtn {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	text-decoration-color: white;
}

/*HEADER OF COMPUTATION*/

.lheader{
	max-width: 100vw;
	max-height: 83vh;
		
}

#mcomputation {
	width: 100vw;
	height: 83vh;
	position: relative;
	background-color: green;
}
	
	#mlabel {
		color: white;
		font-weight: bolder;
		font-size: 3em;
		font-family: courier new;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	#mcomputation p {
		padding-left: 15px;
		padding-right: 15px;
		color: black;
		background-color: white;
		font-weight: normal;
		font-size: 1em;
		font-family: courier new;
	}

	#mc_p1 {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(40%,50%);
	}

	#mc_p2 {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(10%,60%);
	}

	#mc_p3 {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(40%,100%);
	}

	#comp_intro {
		border-bottom: 2px solid grey;
	}

/*CHEMISTRY HEADER*/

#chem_page {
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}

#chem_play {
	z-index: -2;
}

#chem_video {
	height: 100%;
	width: 100%;
	position: relative;
	z-index:0;
}

.overlay {
	position: absolute;
	top:0;
	right:0;
	z-index:1;
}

#chem_header {
	border-bottom: 5px solid lightgrey;
	border: none;
}

#chem_main {
	height: 100vh;
	width:30vw;

}

#chem_nav {
	height: 10vh;
	width: 100vw;
	border-color: red;
	color: red;
	position: absolute;
	display: flex;
	margin-left: 0;
	top: 0;
	left: 0;
	z-index: 1;
}

#chem_nav li {
	display: flex;
	font-weight: bold;
	color: white;
}
#chem_text {
	height: 70vh;
}

.listgroup {
	border: none;
	border-bottom: 2px;
	border-color: red;
}

/*COMPUTATION PARALLAX*/

.parallax {
	width: 100%;
	height: 70vh;
	overflow: hidden;
	object-fit: cover;
}



/*FOOTER*/
footer {
	display: inline-block;
	height: 80vh;
	width: 100vw;
	background-color: #FEF3E2;
	color: #4C3F54;
	font-size: 0.75em;
}

#disclaimer {
	width: 25vw;
}

#footer_list {
	background-color: #FEF3E2;
	color: #4C3F54;
}
#contact {
	width: 25vw;
	color: #4C3F54;
}

#gmap {
	width: 40vw;
}

#end {
	font-family: courier new;
	width: 100vw;
	height: 10vh;
	background-color: #4C3F54;
	color: #FEF3E2;
	letter-spacing: 1.5;
	text-align: right;
}


/*ABOUT PAGE*/
#about_page {
	display: relative;
}

#contact {
	display: absolute;
	top: 0;
	right:0;
	width: 50vw;
	height: auto;
	border-radius: 0;
}

#all_accordion {
	display: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: 80vh;
	background: darkgrey;
	border-radius: 0;
}

.dropdown:hover .dropdown-accordion {
	display:block;
	padding: 0;
	margin:0;
	background-color: #ddd;
	color: black;
	width: 100%;
	height: 100%
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#about_foot {
	width:50vw;
	display: absolute;
	bottom: 0;
	left: 0;
}

#about_list {
	display: flex;
}

#end {
	position: fixed;
	bottom: 0;
	left: 0;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}